<div class="dashboard-page">
    <div data-aim="dashboard" class="dashboard-block dashboard-block_edit" id="edit">
        <div class="dashboard-block_layout">
            <h2 class="dashboard-title" data-key="edit-profile">Edit Your Profile</h2>
            <p class="dashboard-subtitle" data-key="edit-profile-descr">Answer few questions and we will help you to
                find
                perfect restaurants matching
                your cuisine preferences and location</p>
        </div>
    </div>
    <div data-aim="dashboard" class="dashboard-block dashboard-block_main" id="main">
        <div class="dashboard-block_layout">
            <h2 class="dashboard-title" data-key="explore-our-restaurants">Explore Our Restaurants</h2>
            <p class="dashboard-subtitle" data-key="explore-main-page-descr">Check our restaurant's suggestions and
                filter results by location and tastes
            </p>
        </div>
    </div>
    <div data-aim="dashboard" class="dashboard-block dashboard-block_reservations" id="reservation">
        <div class="dashboard-block_layout">
            <h2 class="dashboard-title" data-key="check-reservations">Check Your Reservations</h2>
            <p class="dashboard-subtitle" data-key="check-reservations-descr">Control and manage your current
                restaurant's bookings</p>

            <div id="userReservations" class="invisible">
                <%- include ("./partials/messages.ejs") %>
                <% reservations.forEach( elem => { %>
                <ul class="reservation-card">
                    <li class="reservation-card-parameter">Restaurant: <span
                            class="reservation-card-data"><%= elem.restaurantName %></span></li>
                    <li class="reservation-card-parameter">Guest Amount: <span
                            class="reservation-card-data"><%= elem.guestAmount %></span></li>
                    <li class="reservation-card-parameter">Reservation Time: <span
                            class="reservation-card-data"><%= elem.reservationTime %></span></li>
                    <li class="reservation-card-parameter">Reservation Date: <span
                            class="reservation-card-data"><%= elem.reservationDate %></span></li>
                    <button id="delete_btn">Delete reservation</button>
                </ul>
                <% }) %>
                <button id="close_btn">X</button>
            </div>
        </div>
    </div>
    <div data-aim="dashboard" class="dashboard-block dashboard-block_logout" id="logout">
        <div class="dashboard-block_layout">
            <h2 class="dashboard-title" data-key="log-out">Logout from Our App </h2>
            <p class="dashboard-subtitle" data-key="log-out-descr">Leave our application and get to the login page</p>
        </div>
    </div>
    <div class="dashboard-central-block">
        <%- include ("./partials/messages.ejs") %>
        <p class="lead mb-3 dashboard-title"><span data-key="welcome">Welcome,</span> <span
                class="user-name"><%= name %></span>!</p>
        <p class="dashboard-hidden-mail"><span class="user-email"><%= email %></span>!</p>
        <p class="dashboard-subtitle" data-key="what-to-do">What would you like to do?</p>
    </div>

</div>
<script type="module" src="/public/javascript/Main.js"></script>
<script type="module" src="/public/javascript/changeLanguage.js"></script>
<script type="module" src="/public/javascript/Reservations.js"></script>